/* Reset e estilo base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
  }
  header {
    background-color: #000;
    color: #FFD700;
    padding: 1rem 0;
    text-align: center;
  }
  header h1 {
    font-size: 2rem;
  }
  nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 1rem;
  }

  .btn:hover {
    background-color: #FFD700;
    color: #000;
  }
  
  /* Cartões das Seções */
  .main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1rem;
  }
  .card {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    padding: 1rem;
    text-align: center;
    margin: 1rem;
  }
  .card h2 {
    color: #FFD700;
  }
  .btn-learn-more {
    color: #fff;
    background-color: #FFD700;
    border: none;
    padding: 0.5rem;
    border-radius: 4px;
  }
  .btn-learn-more:hover {
    background-color: #333;
  }
  
  .contact {
    padding: 20px;
    background-color: #fff; /* Fundo branco para a seção */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra para destacar a seção */
    border-radius: 8px; /* Bordas arredondadas */
    margin: 20px;
}

.contact h2 {
    text-align: center;
    color: #333; /* Cor do título */
}

.map-container {
    margin: 20px 0;
    border-radius: 8px; /* Bordas arredondadas para o mapa */
    overflow: hidden; /* Para evitar que o conteúdo saia dos limites */
}

.contact-info {
    text-align: center; /* Centraliza o texto */
}

.contact-info p {
    margin: 10px 0; /* Margem entre os parágrafos */
    color: #555; /* Cor do texto */
}

.whatsapp-link {
    display: inline-block;
    background-color: #25d366; /* Cor do botão do WhatsApp */
    color: white;
    padding: 10px 20px;
    border-radius: 5px; /* Bordas arredondadas do botão */
    text-decoration: none; /* Remove o sublinhado do link */
    transition: background-color 0.3s; /* Transição suave ao passar o mouse */
}

.whatsapp-link:hover {
    background-color: #1ebc54; /* Cor ao passar o mouse */
}

  /* Botão Fixo do WhatsApp */
  .whatsapp-fixed {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #25d366;
    padding: 0.5rem;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    width: 50px;
    height: 50px;
  }
  /* Estilo para esconder a informação adicional inicialmente */
.info {
    display: none;
    margin-top: 10px;
    font-size: 0.9rem;
    color: #555;
  }
  
  /* Estilo para exibir a informação ao clicar */
  .info.visible {
    display: block;
  }
  /* Estilo para redes sociais */
.social-media {
    margin-top: 20px;
    display: flex;
    gap: 15px;
  }
  
  .social-icon img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s;
  }
  
  .social-icon img:hover {
    transform: scale(1.1);
  }
  
